@import '../../varriables';

.container {
  display: flex;
  padding: 24px;
}

.logo {
  height: 80px;
  width: 80px;
  background-color: $imageBackground;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 24px;
}
